.container-fluid{
text-align:center;

margin-bottom: 1px;
}
#background{

  background-image: url("../assets/backgrounds/landing.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#breakfast-image{
background-image: url("/home/justus/Documents/secondIP/assets/foodtop/breakfast.jpg");

}
#lunch-image{
background-image: url("/home/justus/Documents/secondIP/assets/foodtop/lunch.jpg");

}


.container-fluid{



}
