.container-fluid{
text-align:center;

}
#background{

  background-image: url("../assets/backgrounds/landing.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#breakfast-image{
background-image: url("/home/justus/Documents/secondIP/assets/foodtop/breakfast.jpg");

}
#lunch-image{
background-image: url("/home/justus/Documents/secondIP/assets/foodtop/lunch.jpg");

}
#dinner-image{
background-image: url("/home/justus/Documents/secondIP/assets/foodtop/dinner.jpg");

}
#happy-hour{
background-color: #F15A29;

}

#overal{

  height: 200px
}

#row1{
height: 200px;

}
#pic1{
padding-top: 10px;
padding-bottom: 10px;
padding-left: 3px;
padding-right: 5px;

box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
float:left;
width: 520px;
;
}

.container-fluid{
  background-size: 100px 80px;
    background-repeat: no-repeat;
}



}
